:root {
    --primary: #24c7cf;
    --secondary: #8de4e1;
    --white: #f9fbff;
    --dark: #333333;
    --grey: #b2b2b2;
    --gold: #f9a620;
}

footer {
    background: #333333;
    position: fixed;
    bottom: 0;
    height: inherit !important;
    padding: 15px;
    color: #fff;
}

.folder-options-ul::-webkit-scrollbar {
    width: 1em;
}

.folder-options-ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f9fbff;
    -webkit-border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
}

.folder-options-ul::-webkit-scrollbar-thumb {
    background-color: #2dddbd;
    outline: 1px solid white;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
}

.primary-gradient {
    display: grid;
}

    .primary-gradient .row {
        margin-right: 0px;
        margin-left: 0px;
    }

.login, .register, .forgot-password {
    padding: 20px;
    height: 100%;
    background-image: url("/images/Backgrounds/GoldFrame-2.png") !important;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
}

.justify-center {
    justify-content: center;
}

ul {
    padding: 0;
}

.color-white {
    color: var(--white);
}

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.backgroun-repeat-y-right {
    background-repeat: repeat-y;
    background-position: right;
}

.gradient-text {
    background: -webkit-linear-gradient(var(--white), var(--primary));
    -webkit-text-fill-color: transparent;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.white-text-shadow {
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.black-text-shadow {
    color: #444;
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc, 5px 6px 1px #eee, 7px 6px 1px #ccc;
}

hr.style-shade {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.table-responsive {
    padding: inherit;
}

    .table-responsive label {
        color: black !important;
    }

.dashboard-footer {
    height: 2.5rem;
}

/* Login Styles
-------------------------------------------------- */
.login {
    background-color: var(--dark);
}

    .login .background {
        width: 430px;
        height: 520px;
        position: relative;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }

        .login .background .shape {
            height: 200px;
            width: 200px;
            position: relative;
            border-radius: 50%;
        }

    .login .shape:first-child {
        background: linear-gradient(var(--primary), var(--secondary), var(--white));
        left: -90px;
        top: 445px;
    }

    .login .shape:last-child {
        background: linear-gradient( to right, var(--primary), var(--secondary), var(--white) );
        right: -280px;
        bottom: -745px;
    }

    .login form {
        height: 520px;
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: relative;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 30px;
    }

        .login form * {
            font-family: 'Poppins',sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        .login form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            margin: 0;
        }

    .login label {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .login input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    .login ::placeholder {
        color: #e5e5e5;
    }

    .login button {
        margin-top: 15px;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--primary);
    }

    .login .social {
        margin-top: 30px;
        display: flex;
    }

        .login .social div {
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255,255,255,0.27);
            color: #eaf0fb;
            text-align: center;
        }

            .login .social div:hover {
                background-color: rgba(255,255,255,0.47);
            }

        .login .social .fb {
            margin-left: 25px;
        }

        .login .social i {
            margin-right: 4px;
        }

/* Login Check Styles
-------------------------------------------------- */
.check-form-group input[type="checkbox"] {
    display: none;
}

    .check-form-group input[type="checkbox"] + .btn-group > label span {
        width: 20px;
    }

        .check-form-group input[type="checkbox"] + .btn-group > label span:first-child {
            display: none;
        }

        .check-form-group input[type="checkbox"] + .btn-group > label span:last-child {
            display: inline-block;
        }

    .check-form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
        display: inline-block;
    }

    .check-form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
        display: none;
    }

/* Chat Form Styles
-------------------------------------------------- */
.aiChatForm {
    opacity: 0.8;
    display: flex;
    font-weight: 600;
}

    .aiChatForm .avatar {
        width: 35px;
        height: 35px;
        background: linear-gradient(to bottom left, var(--primary) 20%, var(--secondary) 100%);
        border-radius: 50%;
        top: 11px;
    }

        .aiChatForm .avatar p {
            color: var(--white);
            margin: 7px 8px;
            font-size: 26px !important;
        }

    /*chat messages */
    .aiChatForm .people {
        list-style-type: none;
        margin-left: 7px;
        top: 24.7%;
    }

        .aiChatForm .people ul {
            padding: 12px 0 12px 12px !important;
        }

.aiChatListBtn {
    margin: auto;
    margin-bottom: 30px;
    width: auto !important;
    padding: 30px !important;
    border: solid 2px #24c7cf !important;
    border-radius: 20px;
    font-size: 18px !important;
    font-weight: bold !important;
}

.person {
    padding: 12px;
    border-bottom: 1px solid var(--primary);
    cursor: pointer;
}

    .person:hover {
        background: var(--white);
        transition: all 0.3s ease-in-out;
    }

.focus {
    background: var(--white);
    margin-left: 1px;
}

.profile {
    text-align: center;
}

/*Note change to sideLargeChatName*/
.name2 {
    position: relative;
    top: 10px;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
}

/*Note change to profileEmail*/
.email {
    color: black;
    font-size: 13px;
    font-weight: 600;
}

.title {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--dark);
}

.time {
    font-size: 12px;
    color: var(--dark);
    margin-top: 2px;
    float: right;
}

.preview {
    color: var(--dark);
    margin-left: 14px;
    font-size: 14px;
}

.messages {
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 5px 10px rgba(119, 119, 119, 0.5);
    margin-left: auto;
    width: 40%;
    background: rgba(255,255,255,0.5);
}

.chatbox {
    border-left: 2px solid;
    border-radius: 0 10px 10px 0;
    box-shadow: -5px 5px 10px rgba(119, 119, 119, 0.5);
    margin-right: auto;
    width: 75%;
}

    .chatbox .top-bar {
        background: var(--white);
        letter-spacing: 1px;
        display: flex;
        align-items: flex-start;
        padding: 0 10px 10px 20px;
        border-bottom: solid 1px groove;
        margin-bottom: 1px
    }

        .chatbox .top-bar .name {
            position: relative;
            top: 5px;
            text-transform: uppercase;
            color: black;
            font-size: 15px;
            letter-spacing: 2px;
            font-weight: 900;
            margin: auto;
        }

        .chatbox .top-bar .menu {
            position: relative;
            right: 10px;
            top: 20px;
            width: 10px;
            height: 20px;
            cursor: pointer;
        }

            .chatbox .top-bar .menu:hover {
                transform: scale(1.1);
                transition: all .3s ease-in;
            }

        .chatbox .top-bar .icons {
            position: relative;
            color: var(--dark);
            padding: 10px;
            top: 5px;
            right: 21px;
            cursor: pointer;
            font-size: 20px;
        }

            .chatbox .top-bar .icons .fa {
                padding: 5px;
                opacity: 0.8;
            }

                .chatbox .top-bar .icons .fa:hover {
                    transform: scale(1.1);
                    transition: all .3s ease-in;
                }

        .chatbox .top-bar .dots {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--primary);
            box-shadow: 0px 7px 0px var(--dark), 0px 14px 0px var(--primary);
        }

.middle {
    background: var(--white);
    width: 100%;
    padding: 10px;
}

.incoming {
    display: flow-root;
}

    .incoming .bubble {
        background: var(--dark);
        word-break: break-word;
        max-width: 60%;
    }

.typing .bubble {
    background: var(--dark);
    padding: 8px 13px 9px 13px;
    list-style: none;
}

.ellipsis {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: var(--white);
    border-radius: 50%;
    animation: fadeOut 1.3s infinite;
}

.one {
    animation-delay: 0.6s;
}

.two {
    animation-delay: 0.5s;
}

.three {
    animation-delay: 0.8s;
}

.bubble {
    display: inline-block;
    margin-bottom: 5px;
    color: var(--white);
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
}

.outgoing {
    display: flow-root;
}

    .outgoing .bubble {
        background: var(--primary);
        float: right;
        word-break: break-word;
        max-width: 60%;
    }

.voldemort {
    height: auto;
    max-height: 300px;
    min-height: 250px;
    overflow: hidden scroll;
}

.bottom-bar {
    height: 55px;
    background: var(--white);
    padding: 10px;
}

.left {
    left: 0px;
}

.chat input {
    padding: 7px;
    background: var(--white);
    color: var(--dark);
    margin: auto;
    width: 85%;
    font-size: 16px;
}

    .chat input::placeholder {
        color: var(--dark);
        font-weight: 800;
    }

    .chat input:focus {
        color: var(--dark);
        outline: 0;
    }

.chat button {
    border: 0;
    font-size: 20px;
    cursor: pointer;
    outline: 0;
    width: 10%;
    border-radius: 20px;
}

    .chat button:hover {
        transform: scale(1.1);
        transition: all .3s ease-in-out;
        color: #24c7cf;
    }

.chat {
    display: flex;
    align-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
}

#box {
    overflow: scroll;
}

#inner_box {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.item {
    width: max-content;
    margin: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.scroll-LR {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.fileSectionScroll {
    min-width: 110px;
    min-width: 110px;
    overflow: hidden;
    max-height: 247px;
    overflow-y: scroll;
    margin-top: 10px;
}

/* Excel file extract styles
-------------------------------------------------- */
.selected-excel-file {
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
    border-color: rgba(36, 199, 207, 0.5);
}

.extract-table {
    overflow-y: auto;
    height: 200px;
    padding: 0 20px 20px 20px;
}

.block-background {
    background-image: url(../images/Backgrounds/cubes.png);
    width: auto !important;
}

.flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*keyframes*/

@keyframes bounce {
    30% {
        transform: translateY(-.15em) !important;
    }

    60% {
        transform: translateY(0px) !important;
    }

    80% {
        transform: translateY(2px) !important;
    }

    100% {
        transform: translateY(0px) !important;
        opacity: 0.5;
    }
}